.box{
  width: 100px;
  height: 100px;
  background-color: red;
  animation: 5s scaleandRotateSqure infinite ease-in-out;
 }

 @keyframes scaleandRotateSqure{
   0%{
     transform: none;
   }
   50%{
     transform: rotate(1turn) scale(.5, .5);
     color: white;
   }
   100%{
     transform: none;
     color: blue;
   }
 }