body{
  height: 1000px;
  margin: 0;
}

#dotRotate{
  background-color: #76C4C6;
  width:100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#barcode{
  background-color: #1EAC9C;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot{
  font-size: 100px;
  color: white;
  margin: 10px;
}